body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    color: #666;
}
img{
    width: 12cm;
    height: auto;
}


/* CSS für den Header-Table */
#technologies {
    width: 100%; /* Breite auf 100% setzen, um die gesamte Header-Breite zu bedecken */
    border-collapse: collapse; /* Um die Zellengrenzen zusammenzuführen */
}

#technologies td {
    padding: 10px; /* Innenabstand der Zellen */
    text-align: center; /* Text zentrieren */
}

#technologies tr {
    background-color: #f2f2f2; /* Hintergrundfarbe für ungerade Zeilen */
}

#technologies tr:nth-child(even) {
    background-color: #ddd; /* Hintergrundfarbe für gerade Zeilen */
}

#technologies a {
    display: block; /* Die Links als Blockelemente anzeigen, um den gesamten Zellenbereich klickbar zu machen */
    text-decoration: none; /* Keine Unterstreichung für Links */
    color: #333; /* Textfarbe der Links */
}

#technologies a:hover {
    background-color: #ccc; /* Hintergrundfarbe ändern, wenn der Mauszeiger über einem Link schwebt */
}
